body {
    background-color: #3b3b3b;
}

.title {
    color: white;
    text-align: center;
    vertical-align: top;
    margin-top: 24px;
    font-size: 64px;
}

* {
    margin: 0;
    padding: 0;
}

ul {

}

ul li {
    list-style: none;
    display: inline-block;      
    float: left;
    line-height: 100px;
}

ul li a {
    display: block;
    text-decoration-line: none;
    color: white;
    font-size: 24px;
    font-family: Arial;
    padding: 0 30px;
}

nav {
    width: 100%;
    height: 100px;
    background-color: gray;
}

.blightimg {
    position: relative;
    top: 16px;
    margin-top: 16px;
    margin-left: 28px;
}

.blighttext {
    color: white;
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    margin-top: 28px;
    float: right;
}

.rainwardimg {
    position: relative;
    float: right;
    top: 16px;
    margin-top: 64px;
    margin-right: 28px
}

.rainwardtext {
    color: white;
    display: inline-block;
    vertical-align: top;
    float: left;
    font-size: 24px;
    margin-top: 76px;
    margin-left: 28px;
}

a {
    color: white;
}
